body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
	background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

a {
	color: #ffffff;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site-wrapper {
	min-width: 1200px;

	background-color: #849d8f;
	background-image: url("../img/ice-cream-1.png");
	background-repeat: no-repeat;
	background-position: top center;

	transition: background-image 0.5s ease;
	background-color: 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
	content: "";

	visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
	background-image: url("../img/ice-cream-3.png");
}

.site-wrapper:after {
	background-image: url("../img/ice-cream-2.png");
}

.container {
	position: relative;

	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.main-header-logo {
	width: 154px;
	min-height: 64px;

	margin-top: 9px;
	margin-right: 9px;
}

.site-navigation {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 390px;

	padding: 0;
	margin: 0;
	margin-top: 23px;
	margin-right: 329px;
	margin-bottom: 20px;

	list-style: none;
}

.top > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.top:hover > a {
	color: #323232;
  border-bottom: none;
}

.site-navigation > li {
	font-size: 16px;
	line-height: 17px;

  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 6px;
  padding-left: 14px;

	color: #ffffff; 
}

.site-navigation > li:hover,
.site-navigation > li:focus {
	padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 6px;
  padding-left: 14px;

	background-color: #f7f6f3; 
	border-radius: 15px;
}

.site-navigation > li:active {
	color: #333333;

	background-color: #ededed; 
	box-shadow: inset 0px 2px 2px 0px rgba(105, 105, 105, 1);
}

.sub {
  background-color: #f8f7f4;
  border-radius: 5px;
}

.sub-site-navigation {
	display: none;
	position: absolute;
  top: 38px;
  left: 4px;
  z-index: 40;

	width: 135px;
	padding: 0px 0px;
	margin: 0;

	list-style: none;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.sub-site-navigation li {
  padding: 8px 20px;
}

.sub-site-navigation a {
	display: block;
  
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;

  white-space: nowrap;
	color: #323232;
}

.novelty a {
  font-weight: 700;
}

li.novelty {
	border-bottom: 1px solid #d1d0ce;
}

.site-navigation > li:hover .sub-site-navigation {
	display: block;
}

.sub-site-navigation li:hover, 
.sub-site-navigation li:focus {
	background-color: #fbded7; 
}

.sub-site-navigation li:active {
	background-color: #f6b5a5; 
}

.sub-site-navigation li:first-child:hover, 
.sub-site-navigation li:first-child:focus,
.sub-site-navigation li:first-child:active {
	border-radius: 5px; 
}

.sub-site-navigation li:last-child:hover, 
.sub-site-navigation li:last-child:focus, 
.sub-site-navigation li:last-child:active {
	border-radius: 5px; 
}

.site-navigation-current {
	background-color: #d07058; 
	border-radius: 15px;
}

.site-navigation-current > a {
	color: #ffffff;
	border-bottom: none;
}

.cream-current {
	background-color: #d07058; 
}

.cream-current a {
	color: #ffffff;
}

.user-navigation {
	position: relative;
	display: flex;
	width: 267px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.search-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	margin-left: 6px;
	margin-right: 10px;
	margin-top: 23px;
	border-radius: 50%; 

	background-color: rgba(161, 181, 170, 0.8);
	background-image: url("../img/loupe-white.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%; 
}

.search-button:hover,
.search-button:focus,
.search-button:active {
  background-color: #f8f7f4;
  background-image: url("../img/loupe-black.svg");
	background-repeat: no-repeat;
}

.search-form {
	display: none;

	position: absolute;
	top: 60px;
	left: -300px;
	z-index: 30;

	width: 300px;
	padding: 20px 16px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.search-form input {
	width: 300px;
	font-size: 14px;

	padding: 0;
	padding-left: 10px;
	padding-top: 14px;
	padding-bottom: 14px;
	margin: 0;

	border: 1px solid #d1d0ce;
	border-radius: 5px;
}

.user-navigation > li:hover .search-form {
	display: block;
}

.login-form {
	display: none;
	position: absolute;
	z-index: 20;

	top: 60px;
	left: -130px;

	width: 230px;
	padding: 20px 18px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.login-form input {
	width: 220px;
	font-size: 14px;

	padding: 0;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 10px;
	margin: 0;
	margin-bottom: 20px;

	border: 1px solid #d1d0ce;
	border-radius: 5px;
}

.login-form input[type="email"] {
	color: #999999;
}

.user-navigation > li:hover .login-form {
	display: block;
}

.login-form .btn {
	padding: 11px 20px;
}

.flex-registration {
  display: flex;
}

.registration-link a  {
	display: block;
	width: 140px;
	margin-left: 25px;
	color: #323232;
  text-decoration: underline;
}

.login-button {
	display: block;
	position: relative;
  
  padding-top: 8px;
  padding-bottom: 8px; 
  padding-left: 17px;
  padding-right: 16px;
  padding-left: 44px; 
  margin-right: 10px;
  margin-top: 23px;

	background-color: rgba(161, 181, 170, 0.8);
	border-radius: 15px;
}

.login-button::before {
	position: absolute;
	top: 6px;
	left: 17px;

	content: "";

	width: 21px;
	height: 19px;

	background-image: url("../img/entrance-white.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.login-button:hover,
.login-button:focus,
.login-button:active {
	color: #323232;
  background-color: #f8f7f4;
}

.login-button:hover::before,
.login-button:focus::before,
.login-button:active::before {
  background-image: url("../img/entrance-black.svg");
	background-repeat: no-repeat;
}

.basket {
	position: relative;
}

.basket-button {
	display: block;
	position: relative;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 43px;
  padding-right: 32px;
  margin-top: 23px;

	background-color: rgba(161, 181, 170, 0.8);
	border-radius: 15px;
}

.products {
	padding-right: 15px;
}

.basket-button::before {
	position: absolute;
	top: 6px;
	left: 16px;

	content: "";

	width: 21px;
	height: 20px;

	background-image: url("../img/basket-white.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.basket-button:hover,
.basket-button:focus,
.basket-button:active {
	color: #323232;
  background-color: #f8f7f4;
}

.basket-button:hover::before,
.basket-button:focus::before,
.basket-button:active::before {
  background-image: url("../img/basket-red.svg");
	background-repeat: no-repeat;
}

.basket-table-wrapper {
	display: none;
	position: absolute; 
	top: 60px;
	right: 0px;
	z-index: 50;

	width: 510px;
	padding-top: 17px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 19px;
	font-size: 13px;
  line-height: 16px;
  font-weight: 400; 
	
	color: #323232;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.basket-table {
	border-collapse: collapse;
  width: 510px;

	padding: 0;
	margin: 0;
}

.basket-table .row td {
	padding: 0;
	padding-bottom: 19px;
}

.basket-table td:nth-child(1) {
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
}

.basket-table td:nth-child(2) {
	text-align: center;
}

.basket-table td:nth-child(5) {
	text-align: center;
} 

.basket-table .two-row td {
	border-bottom: 1px solid #999999;
}

.basket-table .two-row span,
.basket-table .one-row span {
	color: #999999;
}

.basket-table .three-row td {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700; 
  text-align: right;
  
  padding-top: 17px;
  padding-bottom: 15px;
}

.basket-table a {
	font-size: 13px;
  line-height: 16px;
  font-weight: 400; 

	padding: 20px 15px;

	color: #323232;
}

.product-close button {
	font-size: 0;

	width: 11px;
  height: 11px;

  background: url(../img/cross-small.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;

  outline: none;
  cursor: pointer;
}

.product-close td {
	padding-right: 13px;
}

.basket-table img {
	width: 33px;
  height: 33px;

  border-radius: 50%;
}

.basket-item-image {
	padding-right: 20px;
}

.basket-table-wrapper .click {
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 342px;
}

.user-navigation > li:hover .basket-table-wrapper {
	display: block;
}

.user-navigation > .shop > a.basket-button {
	color: #323232;
  background-color: #f8f7f4;
}

.user-navigation > .shop > a.basket-button::before {
  background-image: url("../img/basket-red.svg");
	background-repeat: no-repeat;
}

.timetable {
	left: 980px;
	width: 171px;
	min-height: 50px;

	position: absolute;
	top: 73px;
	right: 30px;
  z-index: 10;
}

.timetable p {
	font-size: 14px;
	line-height: 16px;

	margin:0;
	padding:0;
	padding-left: 15px;
	padding-bottom: 4px;
}

.main-phone {
	font-size: 22px;
	line-height: 24px;

	margin:0;
	padding:0;
}

.slider {
	position: relative;

	min-height: 256px;
	padding-top: 313px;
	text-align: center;
}

.slide {
	display: none;
}

.slider-text {
	width:700px;
	margin: 0 auto;
	margin-bottom: 30px;

  font-size: 60px;
	line-height: 60px;
	font-weight: 800;
}

.btn {
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	border-radius: 90px;
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.slider .btn {
	display: inline-block;
	padding: 11px 42px;

	font-size: 32px;
	line-height: 41px;
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(to bottom, rgb(237,113,95) 0%, rgb(243,131,103) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.btn:active {
  background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.slider-controls {
	position: absolute;
	bottom: 62px;
	left: -5;
	z-index: 20;

	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
	display: block;
}

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/ice-cream-1.png");
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/ice-cream-2.png");
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/ice-cream-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}

#btn-2:checked ~ .site-wrapper .search-button,
#btn-2:checked ~ .site-wrapper .login-button,
#btn-2:checked ~ .site-wrapper .basket-button {
	background-color: rgba(255, 255, 255, 0.2);
}

#btn-3:checked ~ .site-wrapper .search-button,
#btn-3:checked ~ .site-wrapper .login-button,
#btn-3:checked ~ .site-wrapper .basket-button {
	background-color: rgba(255, 255, 255, 0.2);
}

.banner-list,
.catalog-item {
	list-style: none;
}

.banner {
	display: flex;
	height: 229px;
	margin-bottom: 40px;
}

.banner-raspberry {
	width: 560px;
  min-height: 100%;
  margin-right: 26px;

  border-radius: 15px;

  background-color: #b92a41;
	background-image: url("../img/raspberry-fon.jpg");
	background-position: -50px -95px;
	background-repeat: no-repeat;
}

.banner-chocolate {
	width: 560px;
  min-height: 100%;

  border-radius: 15px;

	background-color: #361f13;
	background-image: url("../img/chocolate-fon.jpg");
	background-position: -217px -105px;
	background-repeat: no-repeat;
}

.banner-title {
	font-size: 35px;
	line-height: 41px;

	margin: 0;
	padding: 0;
	padding-top: 15px;
  padding-left: 20px;
}

.banner p {
	font-size: 18px;
	line-height: 22px;

  margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-right: 18px;
	padding-left: 18px;
}

.banner .btn {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;

	padding: 11px 20px;
  margin-top: 45px;
  margin-right: 24px;

	float: right;
}

.popular {
  width: 1146px;
  min-height: 320px;
  margin-bottom: 40px;
}

.catalog-list-index {
	display: flex; 
	justify-content: space-between;
  min-height: 267px;

  margin: 0;
	padding: 0;

  list-style: none;
}

.catalog-item {
	position: relative;
	width: 267px;
	min-height: 267px;

	text-align: center;
}

.hit-mark::before {
	position: absolute;
	top: 0px;
	left: 0px;

	content: "";

	width: 61px;
	height: 61px;

	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.catalog-item a {
	display: inline;
	font-weight: 500;
	
	padding-top: 7px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.catalog-item img {
  border-radius: 50%;
  margin-bottom: 6px;
}

.item-price {
	font-size: 45px;
	line-height: 45px;

	position: absolute;
	top: 208px;
	left: 0px;

	text-shadow: 0 1px 3px rgba(49,50,53, 0.5);
}

.item-price::after {
	position: absolute;
	top: 5px;
	left: 80px;

	content: "";

	width: 31px;
	height: 36px;

	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	text-shadow: 0 1px 3px rgba(49,50,53, 0.5);
}

.catalog-item span {
	font-size: 30px;

	position: absolute;
	top: 225px;
	left: 113px;

	text-shadow: 0 1px 3px rgba(49,50,53, 0.5);
}

.catalog-item-hover .btn {
	display: none;

	position: absolute;
	top: 330px;
	left: 50px;
	content: "";

	padding: 12px 15px;
}

.catalog-item-hover::after {
	display: none;

	position: absolute;
	top: 0;
	left: 0;
	content: "";
	z-index: 10;

	width: 285px;
	height: 345px;
	padding-bottom: 50px;

	border-radius: 5px;
	background: transparent;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.catalog-item:hover ~ .catalog-item-hover::after, .btn {
	display: block;
}

.features {
	min-height: 306px;
	margin-bottom: 40px;

	background-image: url("../img/waffle.png");
	background-color: #e9dcc0;
  border-radius: 15px;
}

.features-text {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	letter-spacing: 0.03px;
	color: #323232;
  
	padding-top: 24px;
	padding-left: 21px;
	margin-bottom: 13px;
}

.features-list {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

  list-style: none;
}

li.features-item {
	position: relative;

	width: 570px;
	min-height: 90px;
}

.features-item p {
	padding: 0;
	padding-left: 56px;
	margin-top: 8px;
	margin-bottom: 18px;
	margin-left: 19px;

	color: #323232;
	font-weight: 400;
}

.features-item:nth-child(1)::before {
	position: absolute;
	top: -4px;
	left: 20px;
	content: "";

	width: 49px;
	height: 49px;

	background-image: url("../img/ice-cream.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.features-item:nth-child(2)::before {
	position: absolute;
	top: -4px;
	left: 16px;
	content: "";

	width: 49px;
	height: 49px;

	background-image: url("../img/cow.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.features-item:nth-child(3)::before {
	position: absolute;
	top: -7px;
	left: 20px;
	content: "";

	width: 49px;
	height: 49px;

	background-image: url("../img/eco.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.features-item:nth-child(4)::before {
	position: absolute;
	top: -7px;
	left: 15px;
	content: "";

	width: 49px;
	height: 49px;

	background-image: url("../img/thermometer.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.flex-blog-newsletter {
	display: flex;
  min-height: 220px;
  margin-bottom: 39px;
}

.blog {
	width: 560px;
  min-height: 220px;
  margin-right: 26px;

	background-image: url("../img/strawberry-fon.png");
	background-position: -52px 567px;
	background-color: #f4cfcf;
  border-radius: 15px;
}

.blog h2 {
	font-size: 16px;
	color: #323232;
	font-weight: 500;

	padding: 0;
	padding-top: 23px;
	padding-left: 20px;
	padding-bottom: 5px;
	margin: 0;
}

.blog a {
	display: inline-block;
	width: 300px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	padding-left: 20px;

	color: #323232;
  text-decoration: underline;
}

.newsletter {
	width: 560px;
  min-height: 220px;

  background-image: url("../img/bg-post.png");
	background-color: #ffffff;
  border-radius: 15px;
}

.newsletter-inner {
	width: 550px;
	min-height: 210px;

  margin: 4px;

	background-color: #f8f7f4;
	border-radius: 15px;
	background-position: 0 0;
}

.newsletter p {
	width: 510px;

	color: #5a5a5a;
	font-weight: 400;

	padding: 0;
	padding-top: 30px;
	padding-bottom: 38px;
  padding-left: 23px;
	margin: 0;
}

.newsletter-form {
	padding-left: 20px;
}

.newsletter-form input {
  width: 335px;

	line-height: 24px;
  font-weight: 400;

  padding: 8px 16px;
  margin-right: 8px;
  margin-left: 2px;
  
  border: 1px solid rgba(178,178,178, 0.52);
  border-radius: 5px;
  box-shadow: none;
}

.click {
	box-sizing: border-box;
	display: inline-block;

	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: normal;
  word-spacing: normal;

	padding: 9px 16px;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 25px;

  outline: none;
  cursor: pointer;
} 

.click:hover,
.click:focus {
  background-image: linear-gradient(to bottom, rgb(237,113,95) 0%, rgb(243,131,103) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.click:active {
	background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}


.map {
	width: 100%;
	min-height: 430px;

  margin: auto;
	margin-bottom: 10px;

	background-image: url("../img/pin-and-map.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;

}

.contacts-and-feedback {
  position: relative;
}

.contacts {
	position: absolute;
	top: -376px;
	right: 50%;
	margin-right: -572px; 

	width: 300px;
	min-height: 303px;

	background-color: #ffffff;
	border-radius: 15px;
}

.contacts p {
	width: 230px;

	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;

  padding: 0;
	margin: 0 25px;
}

.contacts .address {
	margin-top: 29px;
}

.contacts .phone-number {
	line-height: 23px;

	margin-top: 18px;
	margin-bottom: 26px;
}

.contacts button {
	padding-right: 23px;
	padding-left: 23px;
	margin: 0 23px;
}

.contacts span,
.contacts .phone {
	color: #323232;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.modal {
	display: none;
}

.modal-feedback {
	position: fixed;
	top: 250px;
  left: 50%;

	width: 430px;
	height: 405px;

	padding: 19px 22px;
	margin-left: -239px;

	background-color: #f8f7f4;
	border-radius: 10px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.modal-close {
	position: absolute;
  top: 15px;
  right: 15px;

	width: 18px;
	height: 17px;

	font-size: 0;

  background-image: url(../img/cross-big.svg);
  background-color: transparent;
	border: 0;

	cursor: pointer;
}

.modal-feedback h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 22px;

	color: #323232;
	font-weight: 500;
}

.modal-feedback input {
	font-size: 16px;

  width: 236px;
	padding: 12px 15px;
	margin-bottom: 20px;

  color: #999999;
  border: 1px solid #d1d0ce;
	border-radius: 5px;
}

.modal-feedback textarea {
	font-size: 16px;

  width: 395px;
  height: 133px;
  padding: 10px 15px;
  margin-bottom: 19px;

	color: #999999;
	border: 1px solid #d1d0ce;
	border-radius: 5px;
}

.modal-feedback .click {
	padding-right: 22px;
	padding-left: 22px;
	margin-left: 289px;
}

.main-footer {
	margin-bottom: 30px;
}

.flex-main-footer {
	display: flex;
	justify-content: space-between;
  width: 1146px; 
  min-height: 40px;
}

.main-footer-social {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

	width: 185px;
	min-height: 38px;
	margin-top: 20px;
}

.social-btn {
	display: flex;


	width: 32px;
	height: 32px;

	margin-top: 5px;

	border: 3px solid rgba(255, 255, 255, 0.4);
	border-radius: 50%;
}

.social-btn:nth-child(1) {
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.8;
}

.social-btn:nth-child(2) {
	background-image: url(../img/instagram.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.8;
}

.social-btn:nth-child(3) {
	background-image: url(../img/fb.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.8;
}

.social-btn:nth-child(4) {
	background-image: url(../img/vk.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.8;
}

.social-btn:hover,
.social-btn:focus {
  opacity: 1;
}

.social-btn:active {
  box-shadow: inset 0 4px 1px -2px rgba(49, 50, 53, 0.5);
}

.main-footer-menu {
	display: flex;
	flex-wrap: wrap;

  width: 335px;
  margin: 0;
  margin-top: 18px;
  padding: 0;

  list-style: none;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
	color: #ffbc9e;
	text-decoration: none;
}

.main-footer-menu li {
	position: relative;
  width: 125px;
  min-height: 18px;
  
  margin-top: 3px;
  margin-left: 19px;
}

.main-footer-menu a {
  font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	margin: 0;
	padding: 0;

	white-space: nowrap;

	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.heart a {
	font-weight: 700;
}

.main-footer-menu .heart::before {
	position: absolute;
	top: 5px;
	left: -21px;
	content: "";

	width: 15px;
	height: 13px;

	background-image: url("../img/heart.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.copyright {
	width: 190px;
	min-width: 65px;
}

.copyright img {
  padding-top: 9px; 
  padding-left: 2px;
}

.copyright p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;

  padding-bottom: 5px;
	margin: 0;
}

.copyright p a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.breadcrumbs {
  font-size: 14px;
	line-height: 16px;
	font-weight: 400;

	margin: 0;
	padding: 0;
	padding-top: 21px;
}

.breadcrumbs a {
  padding-right: 18px;
}

.breadcrumbs a::after {
	position: absolute;

	content: "»";

	top: 20px;
	left: 87px;

	color: #ffffff;
}

.breadcrumbs a:nth-child(2)::after {
	position: absolute;

	content: "»";

	top: 20px;
	left: 160px;

	color: #ffffff;
}

.page-title {
	font-size: 35px;
	line-height: 41px;

	margin: 0;
	padding: 0;
	padding-top: 3px;
}

.filter {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 41px;
  padding-top: 21px;
}

.filter span {
	font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  padding-left: 16px;
  padding-bottom: 1px;
}

.sorting {
	position: relative;
  width: 194px;
  min-height: 62px;
  
  margin: 0;
  margin-right: 13px;
  padding: 0;
}

.sorting-wrap {
	height: 36px;
	line-height: 36px;
	vertical-align: middle;

  margin-top: 5px;
	padding: 0;
	background-color: rgba(161, 181, 170, 0.5);
	border-radius: 15px;
	overflow: hidden;
}

.sorting-select {
	width: 213px;

	height: 36px;
	line-height: 36px;
	vertical-align: middle;

	padding-left: 12px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
}

.sorting-wrap::before {
	position: absolute;
  top: 44px;
	left: 160px;
	content: "";

	width: 9px;
	height: 5px;

	background-image: url("../img/select-arrow.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

.sorting-wrap:hover,
.sorting-wrap:focus {
  background-color: #ffffff;
}

.sorting-select {
	color: #ffffff;
	border: none;
}

.sorting-select:hover,
.sorting-select:focus {
	color: #000000;
}

.cost {
	width: 219px;
  min-height: 62px;

  margin: 0;
  margin-right: 15px;
  padding: 0; 
}

.range-wrap {
	width: 220px;
}

.range-controls {
	height: 36px;

	margin-top: 5px;
	padding: 0 21px;

	background-color: rgba(161, 181, 170, 0.8);
	border-radius: 15px;
	overflow: hidden;
}

.range-controls .scale {
	position: relative;
	margin-top: 16px;
	height: 4px;
	background-color: #c4d0c8;
}

.range-controls .bar {
	position: absolute;
	top: 0px;
	left: 30px;

	width: 90px;
	height: 4px;
	background-color: #ffffff;
}

.range-controls .bar::before {
	position: absolute;
  top: -8px;
	left: -15px;
	content: "";
  
  width: 20px;
	height: 23px;
  
  background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.range-controls .bar::after {
	position: absolute;
  top: -8px;
	left: 83px;
	content: "";
  
  width: 20px;
	height: 23px;
  
  background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.filter label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #eef2f0;
}

.fatness {
	width: 417px;
  min-height: 75px;

  margin: 0;
  padding: 0;
}

.fatness-wrap {
	height: 36px;
	line-height: 36px;
	vertical-align: middle;

  margin-top: 5px;
	padding: 0;
	padding-left: 15px;

	background-color: rgba(161, 181, 170, 0.8);
	border-radius: 15px;
}

.fatness-radio {
	position: relative;

  padding-right: 13px;
	padding-left: 31px;

	cursor: pointer; 
}

input[type="radio"] + .fatness-radio::before {
	position: absolute;
	top: -1px;
	left: -1px;
	content: "";

	width: 22px;
	height: 22px;

  background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

input[type="radio"]:checked + .fatness-radio::before {
  position: absolute;
  top: -1px;
	left: -1px;
	content: "";
  
  width: 22px;
	height: 22px;
  
  background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

input[type="radio"] + .fatness-radio::before:hover,
input[type="radio"] + .fatness-radio::before:focus {
  background-image: url("../img/radio-off-hover.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

input[type="radio"]:checked + .fatness-radio::before:hover,
input[type="radio"]:checked + .fatness-radio::before:focus {
  background-image: url("../img/radio-on-hover.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

input[type="radio"] + .fatness-radio::before:disabled {
  background-image: url("../img/radio-off-disabled.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

input[type="radio"]:checked + .fatness-radio::before:disabled {
  background-image: url("../img/radio-on-disabled.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

.fillers {
	width: 700px;
  min-height: 62px;

  padding: 0;
  margin: 0;
  margin-right: 16px;
}

.fillers-wrap {
	height: 36px;
	line-height: 36px;
	vertical-align: middle;

  margin-top: 5px;
	padding: 0;
	padding-left: 16px;

	background-color: rgba(161, 181, 170, 0.8);
	border-radius: 15px;
}

.fillers-checkbox {
	position: relative;

  padding-right: 17px;
	padding-left: 32px;

	cursor: pointer; 
}

.fillers-checkbox:nth-child(4) {
  padding-right: 16px;
}


input[type="checkbox"] + .fillers-checkbox::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";

	width: 20px;
	height: 20px;

  background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

input[type="checkbox"]:checked + .fillers-checkbox::before {
  position: absolute;
  top: 0;
	left: 0;
	content: "";
  
  width: 24px;
	height: 20px;
  
  background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

input[type="checkbox"] + .fillers-checkbox::before:hover,
input[type="checkbox"] + .fillers-checkbox::before:focus {
  background-image: url("../img/checkbox-off-hover.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

input[type="checkbox"]:checked + .fillers-checkbox::before:hover,
input[type="checkbox"]:checked + .fillers-checkbox::before:focus {
  background-image: url("../img/checkbox-on-hover.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

input[type="checkbox"] + .fillers-checkbox::before:disabled {
  background-image: url("../img/checkbox-off-disabled.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

input[type="checkbox"]:checked + .fillers-checkbox::before:disabled {
  background-image: url("../img/checkbox-on-disabled.svg");
	background-repeat: no-repeat; 
	background-position: 0 0;
}

.filter-button {
	width: 143px;
  height: 36px;
}

.filter select {
	background-color: #9db1a5;
}

.filter select:hover,
.filter select:focus {
  color: #323232;

	background-color: #ffffff;
}

.filter-button {
	color:#ffffff;
	outline: none;

	margin: 0;
	margin-top: 26px;
	padding: 0;
	border: none;

	background-color: #9cb0a4;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 55px;
}

.filter-button:hover,
.filter-button:focus {
	color: #323232;

	background-color: rgb(255, 255, 255);
}

.filter-button:active {
  color: #323232;

  background-color: rgb(237, 237, 237);
  border: none;
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105); 
}

.catalog-list-inner {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;
	margin-bottom: 43px;

  list-style: none;
}

.catalog-list-inner .catalog-item {
	margin-right: 26px;
	margin-bottom: 40px;
}

li.catalog-item:nth-child(4n) {
	margin-right: 0px;
} 

.pagination-list {
	display: flex;
	justify-content: flex-end;

	margin: 0; 
	padding: 0;

	list-style: none;
}

.pagination-item {
	margin-right: 1px;
	margin-left: 1px;
}

.pagination-item a {
	display: inline-block;

	font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;

  width: 26px;
  height: 26px;
}

.pagination-item-current a {
	color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus {
	color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item a:active {
	color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.inner-page .main-footer {
	margin-top: 40px;
}

