body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
	background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

a {
	color: #ffffff;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site-wrapper {
	min-width: 1200px;

	background-color: #849d8f;
	background-image: url("../img/ice-cream-1.png");
	background-repeat: no-repeat;
	background-position: top center;

	transition: background-image 0.5s ease;
	background-color: 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
	content: "";

	visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
	background-image: url("../img/ice-cream-3.png");
}

.site-wrapper:after {
	background-image: url("../img/ice-cream-2.png");
}

.container {
	position: relative;

	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;

	/* Временно для сетки */
  outline: 2px solid #0000ff;
}

.main-header {

	/* Временно для сетки */
  outline: 2px solid #008000;
}	

.main-navigation {
  display: flex;
  justify-content: space-start;
  position: relative;

	/* Временно для сетки */
	outline: 2px solid #b22222;
}

.main-header-logo {
	width: 154px;
	min-height: 64px;
	margin-right: 24px;
	margin-top: 9px;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 395px;
	margin: 0;
	padding: 0;
	margin-right: 306px;

	list-style: none;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.site-navigation li {
	font-size: 16px;
	line-height: 18px;
	
	padding-top: 30px;
	padding-right: 28px;

	list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #333333;

	background-color: #f7f6f3; 
}

.site-navigation a:active {
	color: #333333;

	background-color: #ededed; 
}

a.site-navigation-current {
	color: #ffffff;

	background-color: #d07058; 
}

.novelty {
	display: none;
}

.novelty li {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.novelty a:hover, 
.novelty a:focus {
	background-color: #fbded7; 
}

.novelty a:active {
	background-color: #f6b5a5; 
}

a.cream-current {
	color: #ffffff;

	background-color: #d07058; 
}

.user-navigation {
	display: flex;
	width: 267px;

	margin: 0;
	padding: 0;

	list-style: none;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.search-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	margin-left: 6px;
	margin-right: 10px;
	margin-top: 23px;
	border-radius: 50%; 

	background-color: rgba(161, 181, 170, 0.8);
	background-image: url("../img/loupe-white.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%; 
}

.search-button:hover,
.search-button:focus,
.search-button:active {
  background-color: #f8f7f4;
  background-image: url("../img/loupe-black.svg");
	background-repeat: no-repeat;
}

.search-form {
	display: none;
}

.login-form {
	display: none;
}

.login-button {
	display: block;
	position: relative;
  
  padding-top: 8px;
  padding-bottom: 8px; 
  padding-left: 17px;
  padding-right: 16px;
  padding-left: 44px; 
  margin-right: 10px;
  margin-top: 23px;

	background-color: rgba(161, 181, 170, 0.8);
	border-radius: 15px;
}

.login-button::before {
	position: absolute;
	top: 6px;
	left: 17px;

	content: "";

	width: 21px;
	height: 19px;

	background-image: url("../img/entrance-white.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.login-button:hover,
.login-button:focus,
.login-button:active {
	color: #323232;
  background-color: #f8f7f4;
}

.login-button:hover::before,
.login-button:focus::before,
.login-button:active::before {
  background-image: url("../img/entrance-black.svg");
	background-repeat: no-repeat;
}

.login-form {
	color: #323232;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	text-decoration: underline;
}

.basket {
	display: none;
}

.order-button {
	display: none;
}

.basket-button {
	display: block;
	position: relative;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 44px;
  padding-right: 34px;
  margin-top: 23px;

	background-color: rgba(161, 181, 170, 0.8);
	border-radius: 15px;
}

.products {
	padding-right: 15px;
}

.basket-button::before {
	position: absolute;
	top: 6px;
	left: 16px;

	content: "";

	width: 21px;
	height: 20px;

	background-image: url("../img/basket-white.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.basket-button:hover,
.basket-button:focus,
.basket-button:active {
	color: #323232;
  background-color: #f8f7f4;
}

.basket-button:hover::before,
.basket-button:focus::before,
.basket-button:active::before {
  background-image: url("../img/basket-red.svg");
	background-repeat: no-repeat;
}

.timetable {
	left: 980px;
	width: 171px;
	min-height: 50px;

	position: absolute;
	top: 73px;
	right: 30px;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.timetable p {
	font-size: 14px;
	line-height: 16px;

	margin:0;
	padding:0;
	padding-left: 15px;
	padding-bottom: 4px;
}

.main-phone {
	font-size: 22px;
	line-height: 24px;

	margin:0;
	padding:0;
}

.slider {
	position: relative;

	min-height: 256px;
	padding-top: 313px;
	text-align: center;
}

.slide {
	display: none;
}

.banner-list,
.catalog-item {
	list-style: none;
}

.slider-text {
	width:700px;
	margin: 0 auto;
	margin-bottom: 30px;

  font-size: 60px;
	line-height: 60px;
	font-weight: 800;
}

.btn {
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	border-radius: 90px;
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.slider .btn {
	display: inline-block;
	padding: 11px 42px;

	font-size: 32px;
	line-height: 41px;
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(to bottom, rgb(237,113,95) 0%, rgb(243,131,103) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.btn:active {
  background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.slider-controls {
	position: absolute;
	bottom: 62px;
	left: -5;
	z-index: 20;

	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
	display: block;
}

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/ice-cream-1.png");
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/ice-cream-2.png");
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/ice-cream-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}

#btn-2:checked ~ .site-wrapper .search-button,
#btn-2:checked ~ .site-wrapper .login-button,
#btn-2:checked ~ .site-wrapper .basket-button {
	background-color: rgba(255, 255, 255, 0.2);
}

#btn-3:checked ~ .site-wrapper .search-button,
#btn-3:checked ~ .site-wrapper .login-button,
#btn-3:checked ~ .site-wrapper .basket-button {
	background-color: rgba(255, 255, 255, 0.2);
}

.banner {
	display: flex;
	height: 229px;
	margin-bottom: 40px;

	/* Временно для сетки */
  outline: 2px solid #008000;
}

.banner-raspberry {
	width: 560px;
  min-height: 100%;
  margin-right: 26px;

  border-radius: 15px;

  background-color: #b92a41;
	background-image: url("../img/raspberry-fon.jpg");
	background-position: -50px -95px;
	background-repeat: no-repeat;

  /* Временно для сетки */
	outline: 2px solid #ffff00;
}

.banner-chocolate {
	width: 560px;
  min-height: 100%;

  border-radius: 15px;

	background-color: #361f13;
	background-image: url("../img/chocolate-fon.jpg");
	background-position: -217px -105px;
	background-repeat: no-repeat;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.banner-title {
	font-size: 35px;
	line-height: 41px;

	margin: 0;
	padding: 0;
	padding-top: 15px;
  padding-left: 18px;
}

.banner p {
	font-size: 18px;
	line-height: 22px;

  margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-right: 18px;
	padding-left: 18px;
}

.banner .btn {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;

	padding: 11px 20px;
  margin-top: 47px;
  margin-right: 21px;

	float: right;
}

.popular {
  width: 1146px;
  min-height: 320px;
  margin-bottom: 38px;

  /* Временно для сетки */
  outline: 2px solid #008000;
}

.catalog-list-index {
	display: flex; 
	justify-content: space-between;
  min-height: 267px;

  margin: 0;
	padding: 0;

  list-style: none;

  /* Временно для сетки */
  outline: 2px solid #008000;
}

.catalog-item {
	position: relative;
	width: 267px;
	min-height: 267px;

  /* Временно для сетки */
	outline: 2px solid #ffff00;
}

.hit-mark::before {
	position: absolute;
	top: 0px;
	left: 0px;

	content: "";

	width: 61px;
	height: 61px;

	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.catalog-item a {
	display: inline-block;
	font-weight: 500;
	text-align: center;

	padding-top: 7px;
}

.catalog-item img {
  border-radius: 50%;
}

.item-price {
	font-size: 45px;
	line-height: 45px;

	position: absolute;
	top: 208px;
	left: 0px;
}

.item-price::after {
	position: absolute;
	top: 5px;
	left: 80px;

	content: "";

	width: 31px;
	height: 36px;

	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-item span {
	font-size: 30px;

	position: absolute;
	top: 225px;
	left: 113px;
}

.catalog-item .btn {
	display: none;
}

.features {
	min-height: 308px;
	margin-bottom: 39px;

	background-image: url("../img/waffle.png");
	background-color: #e9dcc0;
  border-radius: 15px;

	/* Временно для сетки */
  outline: 2px solid #008000;
}

.features-text {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
  
	padding-top: 25px;
	padding-left: 20px;
	margin-top: 24px;
	margin-bottom: 13px;
}

.features-list {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

  list-style: none;

  /* Временно для сетки */
	outline: 2px solid #008000;
}

li.features-item {
	position: relative;

	width: 570px;
}

.features-item p {
	padding: 0;
	padding-left: 56px;
	margin-top: 7px;
	margin-right: 18px;
	margin-bottom: 18px;
	margin-left: 20px;

	color: #323232;
	font-weight: 400;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.features-item:nth-child(1)::before {
	position: absolute;
	top: -3px;
	left: 20px;
	content: "";

	width: 49px;
	height: 49px;

	background-image: url("../img/ice-cream.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.features-item:nth-child(2)::before {
	position: absolute;
	top: -4px;
	left: 16px;
	content: "";

	width: 49px;
	height: 49px;

	background-image: url("../img/cow.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.features-item:nth-child(3)::before {
	position: absolute;
	top: -5px;
	left: 20px;
	content: "";

	width: 49px;
	height: 49px;

	background-image: url("../img/eco.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.features-item:nth-child(4)::before {
	position: absolute;
	top: -6px;
	left: 16px;
	content: "";

	width: 49px;
	height: 49px;

	background-image: url("../img/thermometer.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.flex-blog-newsletter {
	display: flex;
  min-height: 220px;
  margin-bottom: 39px;

	/* Временно для сетки */
  outline: 2px solid #008000;
}

.blog {
	width: 560px;
  min-height: 220px;
  margin-right: 26px;

	background-image: url("../img/strawberry-fon.png");
	background-position: -52px 567px;
	background-color: #f4cfcf;
  border-radius: 15px;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.blog h2 {
	font-size: 16px;
	color: #323232;
	font-weight: 500;

	padding: 0;
	padding-top: 22px;
	padding-left: 20px;
	padding-bottom: 5px;
	margin: 0;
}

.blog a {
	display: inline-block;
	width: 300px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	padding-left: 20px;

	color: #323232;
  text-decoration: underline;
}

.newsletter {
	width: 560px;
  min-height: 220px;

  background-image: url("../img/bg-post.png");
	background-color: #ffffff;
  border-radius: 15px;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.newsletter-inner {
	width: 550px;
	min-height: 210px;

  margin: 4px;

	background-color: #f8f7f4;
	border-radius: 15px;
	background-position: 0 0;
}

.newsletter p {
	width: 510px;

	color: #5a5a5a;
	font-weight: 400;

	padding: 0;
	padding-top: 28px;
	padding-bottom: 38px;
  padding-left: 22px;
	margin: 0;
}

.newsletter-form {
	padding-left: 20px;
}

.newsletter-form input {
  width: 337px;

	line-height: 24px;
  font-weight: 400;

  padding: 9px 15px;
  margin-right: 10px;
  
  border: 1px solid rgba(178,178,178, 0.52);
  border-radius: 5px;
  box-shadow: none;
}

.newsletter-form button {
	box-sizing: border-box;
	display: inline-block;

	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: normal;
  word-spacing: normal;

	padding: 10px 16px;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 25px;

  outline: none;
  cursor: pointer;
} 

.newsletter-form button:hover,
.newsletter-form button:focus {
  background-image: linear-gradient(to bottom, rgb(237,113,95) 0%, rgb(243,131,103) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.newsletter-form button:active {
	background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}


.map {
	width: 1200px;
	min-height: 430px;

  margin: auto;
	margin-bottom: 10px;

	background-image: url("../img/pin-and-map.png");
	background-repeat: no-repeat;

	/* Временно для сетки */
  outline: 2px solid #008000;
}

.contacts p {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;

	padding: 0;
	margin: 0;
}

.contacts span,
.contacts .phone {
	color: #323232;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.feedback,
.contacts {
	display: none;
}

.feedback h2 {
	color: #323232;
	font-weight: 500;
}

.feedback textarea {
	color: #323232;
}

.feedback button:last-child {
	display: inline-block;
	
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;

	padding: 9px 20px;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 25px;
} 

.main-footer {

	/* Временно для сетки */
  outline: 2px solid #008000;
}

.flex-main-footer {
	display: flex;
	justify-content: space-between;
  width: 1146px; 
  min-height: 40px;
}

.main-footer-social {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

	width: 183px;
	min-height: 38px;
	margin-top: 20px;

  /* Временно для сетки */
	outline: 2px solid #ffff00;
}

.social-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 31px;
	height: 31px;

	margin-top: 5px;

	border: 3px solid rgba(255, 255, 255, 0.4);
	border-radius: 50%;
}

a:hover .icon-item,
a:focus .icon-item {
  fill: #ffffff;
}

a:active .icon-item {
  fill: rgba(255, 255, 255, 0.4);
}

.main-footer-menu {
	display: flex;
	position: relative;
	flex-wrap: wrap;

  width: 358px;
  margin: 0;
  margin-top: 18px;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
	outline: 2px solid #ffff00;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
	color: #ffbc9e;
	text-decoration: underline;
}

.main-footer-menu li {
  width: 167px;
}

.main-footer-menu .heart {
	font-weight: 700;
	padding-left: 20px;
}

.main-footer-menu li:nth-child(3) {
  padding-left: 20px;
}

.main-footer-menu a {
  font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	margin: 0;
	padding: 0;
	padding-top: 3px;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.main-footer-menu .heart::before {
	position: absolute;
	top: 2px;
	left: -22px;
	content: "";

	width: 15px;
	height: 13px;

	background-image: url("../img/heart.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.copyright {
	width: 190px;
	min-width: 65px;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.copyright img {
  padding-top: 10px; 
  padding-left: 2px;
}

.copyright p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;

  padding-bottom: 5px;
	margin: 0;
}

.breadcrumbs {
  font-size: 14px;
	line-height: 16px;
	font-weight: 400;

	margin: 0;
	padding: 0;
	padding-top: 21px;

	/* Временно для сетки */
  outline: 2px solid #008000;
}

.breadcrumbs a {
  padding-right: 18px;
}

.breadcrumbs a::after {
	position: absolute;

	content: "»";

	top: 20px;
	left: 87px;

	color: #ffffff;
}

.breadcrumbs a:nth-child(2)::after {
	position: absolute;

	content: "»";

	top: 20px;
	left: 160px;

	color: #ffffff;
}

.page-title {
	font-size: 35px;
	line-height: 41px;

	margin: 0;
	padding: 0;
	padding-top: 5px;
  
  /* Временно для сетки */
	outline: 2px solid #b22222;
}

.filter {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;
  padding-top: 21px;

	/* Временно для сетки */
  outline: 2px solid #008000;
}

.filter span {
	font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  
  padding-left: 16px;
}

.sorting {
  width: 194px;
  min-height: 62px;
  
  margin: 0;
  margin-right: 13px;
  padding: 0;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.sorting-select {
	width: 194px;

	height: 36px;
	line-height: 36px;
	vertical-align: middle;

  padding-right: 20px;
	padding-left: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	overflow: hidden;
}

.sorting-wrap {
  position: relative;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;

  margin-top: 5px;
	padding: 0;
	padding-left: 5px;
	background-color: rgba(161, 181, 170, 0.5);
	border-radius: 15px;
	overflow: hidden;
}

.sorting-wrap:hover,
.sorting-wrap:focus {
  background-color: #ffffff;
}

.sorting-select {
	color: #ffffff;
	border: none;
}

.sorting-select:hover,
.sorting-select:focus {
	color: #000000;
}

.cost {
	width: 219px;
  min-height: 62px;

  margin: 0;
  margin-right: 15px;
  padding: 0; 
  
	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.range-wrap {
	width: 220px;
}

.range-controls {
	height: 36px;

	margin-top: 5px;
	padding: 0 21px;

	background-color: rgba(161, 181, 170, 0.8);
	border-radius: 15px;
	overflow: hidden;
}

.range-controls .scale {
	position: relative;
	margin-top: 16px;
	height: 4px;
	background-color: #c4d0c8;
}

.range-controls .bar {
	position: absolute;
	top: 0px;
	left: 30px;

	width: 90px;
	height: 4px;
	background-color: #ffffff;
}

.range-controls .bar:before {
	position: absolute;
  top: -8px;
	left: -15px;
	content: "";
  
  width: 20px;
	height: 23px;
  
  background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.range-controls .bar:after {
	position: absolute;
  top: -8px;
	left: 83px;
	content: "";
  
  width: 20px;
	height: 23px;
  
  background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat; 
	background-position: 0 0; 
}

.fatness {
	width: 417px;
  min-height: 75px;

  margin: 0;
  padding: 0;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.fatness-wrap {
	height: 36px;
	line-height: 36px;
	vertical-align: middle;

  margin-top: 5px;
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;

	background-color: rgba(161, 181, 170, 0.8);
	border-radius: 15px;
}

.fillers {
	width: 702px;
  min-height: 62px;

  margin: 0;
  margin-right: 15px;
  padding: 0;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.fillers-wrap {
	height: 36px;
	line-height: 36px;
	vertical-align: middle;

  margin-top: 5px;
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;

	background-color: rgba(161, 181, 170, 0.8);
	border-radius: 15px;
}

.filter-button {
	width: 143px;
  height: 36px;

	/* Временно для сетки */
	outline: 2px solid #ffff00;
}

.filter select {
	background-color: #9db1a5;
}

.filter select:hover,
.filter select:focus {
  color: #323232;

	background-color: #ffffff;
}

.filter-button {
	color:#ffffff;
	outline: none;

	margin: 0;
	margin-top: 26px;
	padding: 0;
	border: none;

	background-color: #9cb0a4;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 55px;
}

.filter-button:hover,
.filter-button:focus {
	color: #323232;

	background-color: rgb(255, 255, 255);
}

.filter-button:active {
  color: #323232;

  background-color: rgb(237, 237, 237);
  border: none;
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105); 
}

.catalog-list-inner {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

  list-style: none;

	/* Временно для сетки */
  outline: 2px solid #008000;
}

.catalog-list-inner .catalog-item {
	margin-right: 26px;
	margin-bottom: 38px;
}

li.catalog-item:nth-child(4n) {
	margin-right: 0px;
} 

li.catalog-item:nth-child(9),
li.catalog-item:nth-child(10),
li.catalog-item:nth-child(11),
li.catalog-item:nth-child(12) {
	margin-bottom: 81px;
} 

.pagination-list {
	display: flex;
	justify-content: flex-end;

	margin: 0;
	padding: 0;

	list-style: none;

	/* Временно для сетки */
	background-color: rgba(255, 255, 0, 0.3);
	outline: 2px solid #ffff00;
}

.pagination-item {
	width: 30px;
	min-height: 30px;
}

.pagination-item-prev,
.pagination-item-next {
	font-size: 0;
}

.inner-page .main-footer {
	margin-top: 40px;
}

